/* .container {
  position: relative;
  height: 100%;
  overflow: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.container {
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 0;
  float: none;
  position: relative;
}

.carouselLeft {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #ebedee;
  overflow: hidden;
}

.imgSlider {
  position: relative;
  min-width: 200px;
  margin: 0 auto;
}

.imgSliderWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  /* overflow-x: hidden; */
  object-fit: cover;
  height: 800px;
}

/* USE THIS FOR SIDE CAROUSEL*/
/* .img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.imgSlider {
  position: relative;
  max-width: 100%; <- change this to make icon smaller
  margin: 0 auto;
} */
/* Arrow Component Styling*/
/* .next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

/* .nextSvg {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
  cursor: pointer;
  top: 14px;

  position: absolute; */
/* z-index: 999; */
/* } */
/* 
.faArrowRight:before, .faArrowLeft:before {
  color: #222
}


.backArrow {
}

.backArrowSvg {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
  cursor: pointer;
  top: 14px;
  position: absolute;
  transform: scale(-1, 1);
} */
