/* .container {
  position: relative;
  height: 100%;
  overflow: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.container {
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 0;
  float: none;
  position: relative;
}

.carouselLeft {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #ebedee;
  overflow: hidden;
}

.img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* .containerWrap {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.containerCol {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.imageSliderWrapper {
  display: flex;
  position: relative;
  justify-content: flex-start;
}  */
/* .imageSlider {
  position: absolute;
}

.slideImage {
  max-height: 100vw;
  margin: auto;
  display: block;
  transition: transform 0.2s cubic-bezier(0.3, 0, 0.45, 1);
} */

/* Arrow Component Styling*/
/* .next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

/* .nextSvg {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
  cursor: pointer;
  top: 14px;

  position: absolute; */
/* z-index: 999; */
/* } */
/* 
.faArrowRight:before, .faArrowLeft:before {
  color: #222
}


.backArrow {
}

.backArrowSvg {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
  cursor: pointer;
  top: 14px;
  position: absolute;
  transform: scale(-1, 1);
} */
