/* .body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
 */

.sizeChartBody {
  border-style: solid;
  border-width: 5px;
  border-width: 5px;
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 15vh;
  left: 5%;
  max-height: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .sizeChartBody {
    width: 50rem;
    left: calc((100% - 50rem) / 2);
    padding: 15px 15px;
  }
}
.content {
  border: 0;
  border-radius: 4px;
  bottom: 'auto';
  height: 10px;
  left: 50%;
  padding: 2rem;
  position: fixed;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 40rem;
}

/* CSS For Measurement Table  */
.table {
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  text-align: start;
  font-variant: normal;
}

.td {
  background-clip: padding-box;
  letter-spacing: 2px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  height: 38px;
  min-width: 80px;
  border: 1px solid #ebedee;
}

.tdBorder {
  color: black;
  border-color: #767677;
  background-color: #ebedee;
}
.tableHorizontal {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

.tableColumns {
  background-color: #fff;
  flex: 0 1 auto;
  white-space: nowrap;
  width: auto;
}

/* CSS for Measurements*/
.tableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}

.scrollColumns {
  flex: 100% 1 1;
  margin-bottom: 0;
  overflow-x: auto;
}

.adidasTable {
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

.trDesign {
  background-color: white;
  border: 1px solid black;
  background-clip: padding-box;
  letter-spacing: 2px;
  padding: 0px 20px;
  position: relative;
  text-align: center;
  height: 60px;
  min-width: 80px;
  border: 1px solid #ebedee;
}

/* CSS FOR TEXT*/
.sizeChartText {
  font-family: 'adineuePRO-Bold';
}

.smallPrint {
  font-family: 'adihausDINRegular';
  font-size: 13px;
  text-decoration: underline;
  padding-bottom: 5px;
  height: 25px;
}

.scrollHorizontalText {
  font-family: 'adihausDINRegular';
  font-size: 13px;
}

.columnText {
  font-family: 'adihausDINRegular';
}

.smallPrintHover:hover {
  background-color: black;
  color: white;
}

.detailPrint {
  font-family: 'adihausDINRegular';
  font-size: 13px;
  margin-bottom: 40px;
  margin-top: 35px;
}
/* Measure Component CSS */

.sectionDivider {
  margin-bottom: 40px;
  margin-top: 40px;
}

.divider {
  border: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
  margin: 0;
  border-bottom-color: #767677;
}

/* CSS for HOW TO MEASURE SECTION */
.text {
  font-family: 'adineuePRO-Bold';
}

.divSlider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .divContainer {
    width: 60%;
  }
}

.chartCarousel {
  position: relative;
  display: flex;
  max-width: 1360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chartOverflow {
  overflow: visible;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carousel {
  position: relative;
}

.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
}
@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@font-face {
  font-family: 'adihausDINRegular';
  src: url('../Fonts/AdihausDIN-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineue-bold';
  src: url('../Fonts/adineue-bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adihausDINBold';
  src: url('../Fonts/AdihausDIN-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineue-light';
  src: url('../Fonts/adineue-light.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePRO-Bold';
  src: url('../Fonts/adineuePRO-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePRO-Regular';
  src: url('../Fonts/adineuePRO-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Black';
  src: url('../Fonts/adineuePROKZ-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Bold';
  src: url('../Fonts/adineuePROKZ-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Light';
  src: url('../Fonts/adineuePROKZ-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Light';
  src: url('../Fonts/adineuePROKZ-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROTT-Black';
  src: url('../Fonts/adineuePROTT-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'texgyreadventor-regular';
  src: url('../Fonts/texgyreadventor-regular.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
