.sizeChartBody {
  border-style: solid;
  border-width: 5px;
  border-width: 1px;
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  /* top: 15vh; */
  top: 10px;
  left: 5%;
  max-height: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .sizeChartBody {
    width: 50rem;
    left: calc((100% - 50rem) / 2);
    padding: 15px 15px;
  }
}
/* Main Modal */
.modal {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  justify-content: center;
  right: 0;
}
.modalActive {
  opacity: 1;
  transition: opacity 0s, visibility 0s;
  visibility: visible;
}

.modalActive1 {
  z-index: 75;
}

.btnOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 0;
  pointer-events: all;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.btnOverlay2 {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.3, 0, 0.45, 1), visibility 0s;
  visibility: visible;
}

/* Modal Close Button */
.closeBtn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  height: 34px;
  justify-content: center;
  position: absolute;
  right: 316px;
  top: 17px;
  transform: translate(50%, -50%);
  transition: transform 0.1s cubic-bezier(0.3, 0, 0.45, 1);
  width: 34px;
  color: #000;
}

.closeBtnIcon {
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  width: 24px;
}
.content {
  border: 0;
  border-radius: 4px;
  bottom: 'auto';
  height: 10px;
  left: 50%;
  padding: 2rem;
  position: fixed;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 40rem;
  overflow: visible;
}

.contentFreeze {
  overflow: hidden;
  position: fixed;
}

/* CSS For Measurement Table  */
.table {
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  text-align: start;
  font-variant: normal;
  font-family: 'adihausDINRegular';
}

.td {
  background-clip: padding-box;
  letter-spacing: 2px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  height: 36px;
  min-width: 80px;
  border: 1px solid #ebedee;
}

.tdBorder {
  color: black;
  border-color: #767677;
  background-color: #ebedee;
}
.tableHorizontal {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

.tableColumns {
  background-color: #fff;
  flex: 0 1 auto;
  white-space: nowrap;
  width: auto;
}

/* CSS for Measurements*/
.tableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}

.scrollColumns {
  flex: 100% 1 1;
  margin-bottom: 0;
  overflow-x: auto;
}

.adidasTable {
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

.trDesign {
  background-color: white;
  border: 1px solid black;
  background-clip: padding-box;
  letter-spacing: 2px;
  padding: 0px 20px;
  position: relative;
  text-align: center;
  height: 60px;
  min-width: 80px;
  border: 1px solid #ebedee;
}

/* CSS FOR TEXT*/
.sizeChartText {
  font-family: 'adineuePRO-Bold';
}

.smallPrint {
  font-family: 'adihausDINRegular';
  font-size: 13px;
  text-decoration: underline;
  padding-bottom: 5px;
  height: 25px;
}

.scrollHorizontalText {
  font-family: 'adihausDINRegular';
  font-size: 13px;
}

.columnText {
  font-family: 'adihausDINRegular';
}

.smallPrintHover:hover {
  background-color: black;
  color: white;
}

.detailPrint {
  font-family: 'adihausDINRegular';
  font-size: 13px;
  margin-bottom: 40px;
  margin-top: 35px;
}
/* Measure Component CSS */

.sectionDivider {
  margin-bottom: 40px;
  margin-top: 40px;
}

.divider {
  border: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
  margin: 0;
  border-bottom-color: #767677;
}

/* CSS for HOW TO MEASURE SECTION */
.text {
  font-family: 'adineuePRO-Bold';
}

.divSlider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  /* flex-wrap: wrap;
  flex-direction: row;  */
  /* align-items: center; */
  /* justify-content: center; */
  padding-bottom: 30px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .divContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.chartCarousel {
  position: relative;
  /* display: flex; */
  max-width: 1360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chartOverflow {
  overflow: visible;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carousel {
  position: relative;
}

.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
}

/* Modal : Measure Images */
.imgWrap {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  margin: 0;
  flex: 1 1 0px;
}

.imgWrap2 {
  background-color: #fff;
  border: 1px solid #767677;
  transition: transform 0.2s cubic-bezier(0.3, 0, 0.45, 1);
  transform-origin: top right;
  /* margin: 0 10px 0 0; */
  height: 100%;
}

.header {
  /* width: 100%; */
  padding: 10px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0;
}
.textUppercase {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-family: 'adihausDINRegular';
}

.numberStyle {
  white-space: nowrap;
  color: white;
  font-family: 'adihausDINRegular';
}

.img1 {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.imgDescription {
  color: #000;
  padding: 15px;
  height: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: 'adihausDINRegular';
}

.fitSection {
  margin-bottom: 40px;
  text-decoration: uppercase;
  font-family: 'adineuePRO-Bold';
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.83em;
}

.imgClass {
  width: 115%;
  height: 100%;
}

.font {
  font-family: 'adihausDINRegular';
  font-size: 13px;
}
@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@font-face {
  font-family: 'adihausDINRegular';
  src: url('../Fonts/AdihausDIN-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineue-bold';
  src: url('../Fonts/adineue-bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adihausDINBold';
  src: url('../Fonts/AdihausDIN-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineue-light';
  src: url('../Fonts/adineue-light.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePRO-Bold';
  src: url('../Fonts/adineuePRO-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePRO-Regular';
  src: url('../Fonts/adineuePRO-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Black';
  src: url('../Fonts/adineuePROKZ-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Bold';
  src: url('../Fonts/adineuePROKZ-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Light';
  src: url('../Fonts/adineuePROKZ-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Light';
  src: url('../Fonts/adineuePROKZ-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROTT-Black';
  src: url('../Fonts/adineuePROTT-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'texgyreadventor-regular';
  src: url('../Fonts/texgyreadventor-regular.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
