.title {
  font-family: 'adihausDINRegular';
}

/* Product Details */
.productName {
  font-family: 'adineuePROKZ-Black';
  font-size: 28px;
}

.productPrice {
  font-family: 'texgyreadventor-regular';
}
.productType {
  font-family: 'adihausDINRegular';
  color: grey;
}
.checkoutPlacement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.colorsInfo {
  font-family: 'adihausDINBold';
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.colors {
  font-family: 'adihausDINRegular';
  color: grey;
}

.formatting {
  margin-bottom: 45px;
}
/* ------Review Section: Stars ----------*/
.stars {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: whitesmoke;
  overflow: hidden;
}
.fullStars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  width: 85%;
}
.emptyStars:before,
.fullStars:before {
  content: '\2605\2605\2605\2605\2605';
  font-size: 14pt;
}
.emptyStars:before {
  -webkit-text-stroke: 1px black;
}
.fullStars:before {
  -webkit-text-stroke: 1px black;
}

/* -----Reviews Section--------- */
.reviews {
  text-decoration: underline;
  font-family: 'adihausDINRegular';
  font-size: 14px;
  position: relative;
  border-bottom: 3px solid transparent;
  margin-top: 10px;
}

.textHover:hover {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 0px;
}

.circleImg {
  border-radius: 50%;
  width: 80px;
  height: auto;
}

/* Top Navigation Bar */

.listStyle {
  list-style-type: none;
}

.homeResize {
  text-decoration: underline;
  height: auto;
  padding-left: 0px;
  padding-top: 5px;
}

.resizeText {
  height: auto;
  padding-left: 0px;
  padding-top: 5px;
  font-family: 'adihausDINRegular';
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.nav:hover {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 0px;
}
.navText {
  text-decoration: underline;
  font-family: 'adihausDINRegular';
}

.underlineText {
  text-decoration: underline;
}

.separator {
  padding: 0 5px;
  color: #000;
  line-height: 8px;
}
/* Size Chart Component*/
.ruler {
  height: auto;
  width: 100px;
}

.sizeChart:hover {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 0px;
}
.size {
  font-family: 'adihausDINRegular';
  text-decoration: underline;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'adihausDINRegular';
  src: url('../Fonts/AdihausDIN-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineue-bold';
  src: url('../Fonts/adineue-bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adihausDINBold';
  src: url('../Fonts/AdihausDIN-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineue-light';
  src: url('../Fonts/adineue-light.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePRO-Bold';
  src: url('../Fonts/adineuePRO-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePRO-Regular';
  src: url('../Fonts/adineuePRO-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Black';
  src: url('../Fonts/adineuePROKZ-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Bold';
  src: url('../Fonts/adineuePROKZ-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Light';
  src: url('../Fonts/adineuePROKZ-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROKZ-Light';
  src: url('../Fonts/adineuePROKZ-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'adineuePROTT-Black';
  src: url('../Fonts/adineuePROTT-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'texgyreadventor-regular';
  src: url('../Fonts/texgyreadventor-regular.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
